html{
  height: 100%;
}

body {
  margin: 0;
  background-image: url(./assets/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
 overflow: hidden;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: Arial;
}

#root{
  height: 100%;
}

:root {
  --theme-color: #ff0083; /* you can use css-variables if you'd like */
}
